<div class="col-lg-10 mx-auto">
    <div class="card mt-5">

      <div class="row ml-3 mr-3 mt-3">

        <h4>Add Additional Skills</h4>


      </div>
      <div class="row ml-3 mr-3 mt-3">

      <h6>You Can Add Multiple Skills</h6>
      </div>

      <form [formGroup]="signupForm" (submit)="addSkill(signupForm.value)">
        <div class="md-20">

          <div class="row ml-2 mr-2 header">
            <div class="col-lg-4 col-md-12 col-12 heading">
              <div>
                <label for="skill">Select Skill</label>
              </div>
              <select id="skill" class="form-control" formControlName="skill">
                    <option value disabled selected>Please select your Skill</option>
                    <option *ngFor="let skill of skillList" [value]="skill.name">{{skill.name}}</option>
                </select>  
                <div class="invalid" *ngIf="skill.invalid && skill.errors.required && skill.touched">Skill is required</div>
            </div>
          </div>

          <div class="row ml-2 mr-2 header">
            <div class="col-lg-6 col-md-6 heading">
              <div>
                <label for="selfRating">Give Rating to Your Skill</label>
              </div>
              <input class="form-control" type="number" id="selfRating"
                formControlName="selfRating" [formControl]="selfRating" placeholder="Enter Rating">
                <div class="invalid" *ngIf="selfRating.invalid && selfRating.errors.required && selfRating.touched">Rating is required</div>
                <!-- <div class="text-warning" *ngIf="selfRating.errors?.max">Self Rating cannot be over 10.00</div> -->
            </div>
          </div>


          <div class="row ml-2 mr-2 header">
            <div class="col-lg-6 col-md-6 heading">
                    <div>
                       <label for="yearsOfExperience">Years Of Experience</label>
                     </div>
                    <input class="form-control" type="number" id="yearsOfExperience"
                    formControlName="yearsOfExperience" [formControl]="yearsOfExperience" placeholder="Enter Years Of Experience">
                    <div class="invalid" *ngIf="yearsOfExperience.invalid && yearsOfExperience.errors.required && yearsOfExperience.touched">Years Of Experience is required</div>

            </div>
          </div>


          <div class="row ml-2 mr-2 heading">
            <div class="col-6 ">
              <button type="submit" class="btn navy mt-3" [disabled]="!signupForm.valid">Add Skill</button>
              <input type="button" class="btn navy mt-3" value="SignUp!" routerLink="/login">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

